body {

    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
    overflow: hidden; /* Prevent scrolling */
}
.container {
    text-align: center;
    padding: 50px;
    border-radius: 8px;
    margin: auto;
    height: 100vh; /* Make the container fill the entire screen */
    width: 100%; /* Or some specific width */
    background-size: cover; /* This will cover the entire area of the container */
    background-position: center; /* This will center your image in the container */
}

.header {
    text-align: center;
    font-size: 3.5em;
    color: #333;
    margin: calc(30vh) 0 10px; /* Adjust margin as needed */
    margin-left: 13vh;
    margin-right: 26vh;
    /*
    Explanation:
    33vh is one-third of the viewport height.
    40px is half of the font size (2em), to vertically center the text.
    */
}

.subtext {
    font-size: 1em;
    color: #666;
    margin: calc(10vh) 0 10vh; /* Adjust margin as needed */
    margin-left: 13vh;
    margin-right: 26vh;
}
.buttons{
    margin-left: 10vh;
    margin-right: 26vh;
}

.button {

    padding: 5px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #007bff;
    cursor: pointer;
    transition: background-color 0.3s;

}

.button:hover {
    background-color: #0056b3;
}

.footer {
    font-size: 0.8em;

    position: fixed; /* Fixed positioning */
    bottom: 3vh; /* Align to the bottom */
    left: 0; /* Align to the left */
    width: 100%; /* Full width */
    padding-top: 1vh; /* Add space between the bottom and the footer */

    z-index: 1000; /* Ensure it's on top of other content */
}